<body>
    <div id="c2">
        <img src="../../assets/images/logo1.png" style="width: 120px; margin-top: 30px;padding-left: 20px;">
        <img src="../../assets/images/simplify.jpg" class="rounded-circle z-depth-2" alt="50x70" style="width:400px;float: right;" >
        <h1>Simplify<br> IoT</h1>
       <h4> ------------------------------------</h4>
        <p>KORE simplifies complexity across the IoT ecosystem, enabling our customers IoT vision and delivering measurable value</p>
        <div class="col-md-12 text-center">
            <button class="btn btn-primary" type="submit" href="#">Know more</button>
        </div>
    </div>
</body>