
body{
    display: flex;
    justify-content: space-evenly;
    /* flex-direction: row; */
    /* padding: 10px; */
    /* float: left; */
    min-height: 100vh;
    max-width: 100vw;
    flex-wrap: wrap;
}
