<body>
    <div id="c1">
        <img src="../../assets/images/logo1.png" style="width: 120px; margin-top: 30px;padding-left: 20px;">
        <div><img src="../../assets/images/agile.jpg" class="rounded-circle z-depth-2" alt="50x70" style="width:400px;float: right;"></div>
        <h1>Agile</h1>
        <h4>---------------------------------</h4>
        <p>Combining the capacity of large global providers with the velocity of a tight team, we get more of the right things done, faster</p>
        <!-- {{title}} -->
        <!-- <button (click)="btnclick()">click</button> -->
        <div class="col-md-12 text-center">
            <button class="btn btn-primary" type="submit" href="#">Know more</button>
        </div>
    </div>
</body>